.upperPart {
    background: linear-gradient(#E7F0FF, #E8F1FF78 47%);
    width: 100vw;
}

.downloadBtn .button {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.lowerPart {
    background-color: #1B3C74;
}

.list ul {
    list-style-type: '>';
}

.list ul li {
    z-index: 1;
    color: white;
    font-weight: 100;
    padding-bottom: 1rem;
    padding-left: 0.5rem;

}



.downloadBtn {
    margin-top: 2rem;
}